In [1]:
import sft

In [2]:
sft.history_earnings('aapl')

                 12/30/2017 3/30/2018 6/29/2018 9/29/2018
Earnings History
EPS Est.               3.86      2.67      2.18      2.78
EPS Actual             3.89      2.73      2.34      2.91
Difference             0.03      0.06      0.16      0.13
Surprise %            0.80%     2.20%     7.30%     4.70%

In [3]:
sft.liabilities('aapl')

,9/29/2018,9/30/2017,9/24/2016,9/26/2015
Liabilities (All numbers in thousands),,,,
Accounts Payable,"55,888,000","44,242,000","37,294,000","35,490,000"
Short/Current Long Term Debt,"8,784,000","6,496,000","3,500,000","2,513,000"
Other Current Liabilities,"40,230,000","38,099,000","8,243,000","10,939,000"
Total Current Liabilities,"116,866,000","100,814,000","79,006,000","80,610,000"
Long Term Debt,"93,735,000","97,207,000","75,427,000","53,329,000"
Other Liabilities,"47,977,000","43,251,000","39,004,000","37,051,000"
Deferred Long Term Liability Charges,-,-,-,-
Minority Interest,-,-,-,-
Negative Goodwill,-,-,-,-
Total Liabilities,"258,578,000","241,272,000","193,437,000","170,990,000"